
/*#contact.home-section {
	padding: 10px;
}*/

/*ul.social-icon li a,
ul.social-icon li a:hover {
  color: #6f6f6f;
  text-decoration: none;
  transition: color 0.6s ease;
}

ul.social-icon li a:hover,
ul.social-icon li a:focus {
  color: #005181;
}
*/
/*a.navbar-brand{
  font-family: “游ゴシック”,“arial unicode ms”;
}*/
